@import '../../index.scss';

.category {
    background-color: $soft-gray;
    border-radius: 5%;
    box-shadow: 10px 10px 5px 1px rgba(0, 0, 0, 0.4);
    margin-top: 3rem;

    h1 {
        width: 10%;
        margin-top: 0.1rem;
        margin-left: 1.5rem;
        margin-bottom: 1rem;
    }

    article {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 2.5rem;
        padding-left: 1rem;
        padding-right: 1rem;
    }
}
