@import '../../index.scss';

.header {
    display: flex;
    width: 100%;
    background-color: $soft-gray;
    color: black;
    padding: 10px;

    // @media (min-width: 1200px) {
    //     max-width: 1140px;
    //     margin-right: auto;
    //     margin-left: auto;
    // }

    .link{
        text-decoration: none;
        color: inherit;
        transition: all 0.3s ease;  // 부드러운 전환을 위해
    }

    .link:hover{
        background-color: $gray;
        border-radius: 1rem;
        box-shadow: 0 0 5px rgba(0,0,0,0.3);
    }

    h1 {
        font-size: 40px;
    }
    
    .categories {
        background-color: yellowgreen;
        display: flex; 
        flex: 0.7;

        @media (min-width: 768px) {
            display: flex;
            flex: 0.7;
        }

        margin: 1.8rem;
        padding-top: 1.2rem;

        .category {
            font-size: 1.2rem;
            margin-right: 2rem;
        }

    }

    .icons{
        background-color: pink;
        display: flex;
        align-items: center;
        padding-left: 0.5rem;
        padding-right: 0.5rem;
        margin: 1.5rem;

        .dropdown{
            background-color: $soft-gray;
            margin-right: 1.5rem;

            .search{
                height: 1.7rem;
                margin-right: 1rem;
                // position: fixed;
                opacity: 50%;
                width: 100%;
                color: #333;
                border-radius: 0;
                transition: all;
            }
        }

        .signout{
            color: gray;
            font-size: 14px;
            cursor: pointer;
            text-decoration: underline;
        }

        .signout:hover, .signout:focus{
            color: black;
        }

        a{
            margin-right: 0.8rem;
        }
    }
}