@import '../../index.scss';

.header {
    display: flex;
    width: 100%;
    height: 3rem;
    background-color: $soft-gray;
    color: black;
    padding: 10px;

    // @media (min-width: 1200px) {
    //     max-width: 1140px;
    //     margin-right: auto;
    //     margin-left: auto;
    // }

    .link{
        text-decoration: none;
        color: inherit;
        transition: all 0.3s ease;  // 부드러운 전환을 위해
    }

    .link:hover{
        background-color: $gray;
        border-radius: 1rem;
        box-shadow: 0 0 5px rgba(0,0,0,0.3);
    }

    h1 {
        margin-top: 0;
        margin-bottom: 0;
        margin-left: 1rem;
    }
    
    .categories {
        display: flex; 
        justify-content: space-between;
        width: 35%;
        height: 3rem;

        // @media (min-width: 768px) {
        //     display: flex;
        //     flex: 0.7;
        // }

        margin-left: 1.8rem;
        margin-right: 2rem;

        .header__category {
            // font-size: 1.2rem;
            margin-right: 2rem;
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 6rem;
            height: 3rem;
            padding-top: 0;
            
            a {
                margin-top: 0.9rem;
                font-size: 13pt;
                font-weight: 800;
            }
        }

    }

    .icons{
        // background-color: pink;
        display: flex;
        align-items: center;
        padding-left: 1rem;
        padding-right: 1rem;
        margin-left: auto;
        margin-right: 2rem;

        button {
            width: 3rem;
            height: 3rem;
            border: none;
            transition: background-color 0.4s ease;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        button:hover {
            background-color: $gray;
        }

        // Link BsCartCheck {

        // }

        .dropdown{
            background-color: $soft-gray;
            margin-right: 1.5rem;

            .search{
                height: 1.7rem;
                margin-right: 1rem;
                // position: fixed;
                opacity: 50%;
                width: 100%;
                color: #333;
                border-radius: 0;
                transition: all;
            }
        }

        .mypage {
            text-decoration: none;
        }

        .profile__email{
            margin-left: 1rem;
            margin-right:1rem;
        }

        .signout{
            color: gray;
            font-size: 14px;
            cursor: pointer;
            text-decoration: underline;
            text-align: right;
            margin-right: 1px;

        }

        .signout:hover, .signout:focus{
            color: black;
        }

        a{
            margin-right: 0.8rem;
        }
    }
}